<%= form_for @project do |f| %>

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--1-col"></div>

		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--10-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
				<%= f.text_field :title, :class => 'mdl-textfield__input' %>
				<%= f.label :title, :class => 'mdl-textfield__label' %>
			</div>

			<% if @project.errors.any? %>
				<%= @project.errors.messages[:title][0] %>
			<% end %>
		</form>

		<div class="mdl-cell mdl-cell--1-col"></div>
	</div>

	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--9-col mdl-cell--2-col-phone mdl-cell--5-col-tablet"></div>

		<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-phone mdl-cell--2-col-tablet">
			<%= f.submit  :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>

			<%= link_to 'cancel', projects_path,
			:class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect' %>
		</div>

		<div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-tablet"></div>
	</div>
<% end %>
