<%- model_class = Project -%>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--1-col"></div>

	<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-cell mdl-cell--10-col mdl-cell--4-col-phone">

		<tbody>
			<% @projects.each do |project| %>
				<tr>
					<td class="mdl-data-table__cell--non-numeric">
						<span class ="mdl-badge" data-badge = <%= project.tasks.unfinished.count %>/<%= project.tasks.count %> >
							<%= link_to project.title, project_path(project.id) %>
						</span>
					</td>

					<td >
						<%= link_to "mode_edit", edit_project_path(project.id) ,
						:class => 'mdl-button mdl-js-button mdl-button--icon material-icons' %>

						<%= link_to "clear", project_path(project.id), method: :delete, data: {confirm: "are you sure?"},
						:class => 'mdl-button mdl-js-button mdl-button--icon material-icons' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="mdl-cell mdl-cell--1-col"></div>

</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10-col"></div>

	<div class="mdl-cell mdl-cell--1-col">
		<%= link_to "add", new_project_path,
		:class => 'mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored material-icons' %>
	</div>

	<div class="mdl-cell mdl-cell--1-col"></div>

</div>
